* {	
	box-sizing: border-box;
	margin: 0;
}

.body {
	font-family: "DM Sans", "Arial", "Helvetica", sans-serif;
	font-style: normal;  
	font-weight: 400;  
	background: red;
}
.title {
	color: blue;
}
