$white:#fff;
$yellow:#fff000;
$blue:#24A3FF;
$blue-hov:#0085FF;
$red:#F0145A;
$blue-back:#006CCF;
$grey-bg:#F5F5FA;
$grey-alt-bg:#EDEDF7;
$grey-dark:#B3B3BA;
$purple-main:#323264;
$separ-grey: #E6E6F0;
$grey-aft:#CACADB;
$grey-bef:#E7E7F2;
$grey-text:#686887;
$bg-block1: #1C4280;
$bg-block2:#143646;
$bg-block3:#F48B30;
$bg-block4:#9E4DC3;
$bg-block5:#FD9339;
$bg-block6:#E2E2E4;
$bg-block7:#C71C36;
$bg-block8:#DCF3F9;
$bg-block9:#EAEAEA;
$bg-block10:#282240;
$bg-block11:#1D4568;
$bg-block12:#000000;
$foot-ph: #46466E;
